@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');
@import url("components/banner.css");
@import url("components/button.css");
@import url("components/navbar.css");

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

h1, h2, h3 {
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
}

video {
  z-index: 1;
}

.container {
    width: 100%;
    padding-right: 16px;
    padding-left: 16px;
    margin-right: auto;
    margin-left: auto;
}

.flexbox {
  display: flex;
  position: relative;
  align-items: center;
}
