<div class="container">
  <h2 class="row justify-content-center py-4">My clients</h2>
  <div class = "row">
    <% @managers.each do |manager| %>
      <div class="col-lg-4">
        <div class="card">
          <h5><%= manager.first_name %></h5>
          <div class="contact">
            <a class="btn-pri" href="mailto:"<% manager.email %>>Email</a>
            <a class="btn-sec" href="https://wa.me/"<%= manager.whatsapp_number %>>WhatsApp</a>
          </div>
        </div>
      </div>
    <% end %>
 </div>
</div>
