// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #4888FF;
$light-blue: rgba(72, 136, 255, .1);
$yellow: #FFC65A;
$orange: #E67E22;
$opacity-green: rgba(73, 201, 109, 0.08);
$green: #49C96D;
$dark-green: #20A144;
$dark-gray: #595F69;
$light-gray: #E8E9EB;
$background: #F8F8F8;
