<div class="background-white d-flex">
  <div class="col-md-6">
    <h1>Flex with freelancers</h1>
    <h5>The most efficient way to work with freelancers</h5>
  </div>
  <div class="col-md-6 home">
    <%= image_tag "hero_img.png", :height=>1200, :quality=>100 %>
  </div>
</div>
