.btn-flat {
  color: #4888FF;
  padding: 8px 24px;
  border-radius: 4px;
  background-color: #edf3ff;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background-color: #4888FF;
  color: white;
}

