.background-blue {
  background-color: $blue;
  height: calc(100vh - 79px);
  &.expanded{
    height: auto;
  }
}

.background-blue-edit {
  background-color: $blue;
}


.background-white {
  background-color: white;
  height: auto;
}
