.btn-pri {
    @extend .border-0;
    background-color: $blue;
    color: white;
    padding: 8px 0px;
    box-shadow: 0px 2px 0px blue;
    border-radius: 16px;
    width: 124px;
    text-align: center;
    &:hover {
      box-shadow: 0px 8px 16px rgba(48, 76, 253, 0.2);
      text-decoration: none;
      color: white;
    }
}


.btn-sec {
    background-color: rgba(0, 0, 0, 0);
    color: $dark-gray;
    padding: 8px 0px;
    border-style: solid;
    border-width: 2px;
    border-color: $light-gray;
    border-radius: 16px;
    width: 124px;
    text-align: center;
    &:hover {
      text-decoration: none;
      background-color: $light-blue;
      color: $blue;
      border: 2px solid rgba(0, 0, 0, 0);
    }
}
  #btn-nav {
    width: 180px;
    margin: 0px 24px;
}
