.card {
  text-align: center;
  height: 460px;
  background: white;
  align-items: center;
  border-radius: 16px;
  margin: 16px 0px;
  position: relative;
  border-style: none;
  box-shadow: -4px 8px 24px 0px rgba(44,63,88,0.02);
  a {
    text-decoration: none;
  }
  img {
    margin: 32px 24px 24px 24px;
  }
  h5 {
    margin-bottom: 24px;
  }
}
.card-contact {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: end;
  position: absolute;
  bottom: 32px;
}

#profession {
  padding: 8px 16px;
  background-color: $opacity-green;
  border-radius: 8px;
  color: $dark-green;
  width: fit-content;
  margin: 0 auto;
}

#location {
  padding: 8px 16px;
  margin: 0px 0px 8px;
}

.login {
  text-align: left;
  margin: 60px 0px;
  height: auto;
  background: white;
  align-items: center;
  border-radius: 16px;
  border-style: none;
  box-shadow: -4px 8px 24px 0px rgba(44,63,88,0.02);
  h2 {
    text-align: center;
  }
  a {
    text-decoration: none;
  }
  img {
    margin: 32px 24px 24px 24px;
  }
  h5 {
    margin-bottom: 24px;
  }
}
