.profile {
  background-color: white;
  border-radius: 16px;
  list-style-type: none;
  height: 80vh;
  position: relative;
  padding: 16px;

}

.profile-contact {
  display: block;
  text-align: center;
  align-items: center;
  img {
    margin: 32px 24px 24px 24px;
  }
}
