.profile {
  background-color: white;
  border-radius: 16px;
  list-style-type: none;
  height: auto;
  position: relative;
  padding: 16px;

}

.profile-contact {
  display: block;
  text-align: center;
  align-items: center;
  img {
    margin: 32px 24px 24px 24px;
  }
}

#skills {
  padding: 4px 8px;
  background-color: $light-blue;
  border-radius: 8px;
  color: $blue;
}
