// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import 'select2/dist/css/select2';

// Your CSS partials
@import "components/index";
@import "pages/index";


@import "social-share-button";
.social-share-button {
  .ssb-icon {
    background-size: 70px 70px;
    height: 70px;
    width: 70px;
  }
}


.select2-selection--multiple {
    border: none !important;
    border-radius: 12px !important;
    width: 100% !important;
    background-color: white !important;
    border-radius: 16px !important;
    padding: 3px 8px !important;
    border: 2px solid #E8E9EB !important;
    margin: 8px 0px !important;
}


